<!DOCTYPE html>
<html>
	<head>
		<title>Lista de tareas</title>
		<link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css">
	</head>
	<body>

		<nav class="navbar navbar-dark bg-dark">
			<a href="/" class="navbar-brand">Lista de tareas</a>
			
		</nav>